.toolbar{
  background-color: lightslategrey;
  padding: 2%;
}
    mat-card{
      margin: 2%;
    }
    
    mat-form-field {
      width: 100%;
      padding: -10%;
  }

  .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 180px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 12px;
}
  .buttondiv{
    display: grid;
    place-items: center;
    width: 100%; }

  